---
layout: default
---

{% include header.html %}
{% include slider.html %}

<div class="main-section main-section-3 " style="background-image: url(/assets/img/bg/grid-paper-bg.jpg); background-repeat: repeat-y;">
    {% comment %}{% include brands_carousel.html %}{% endcomment %}
    {% include about.html %}
    {% comment %}{% include video_area.html %}{% endcomment %}
    {% include brands_carousel.html %}
    {% include publications.html extra_class="blog-area-3 pt-120 pb-120" %}
    {% include blogs.html extra_class="blog-area-3 pt-120 pb-120" %}
    {% include contact.html extra_class="contact-area" %}
</div>
{% include footer.html extra_class="footer-area-2" %}

