<!-- ==========Work Area Starts========== -->
<div id="about" class="work-area pb-120 pt-60">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6 ">
        <div class="work-img wow fadeInLeft pt-50">
          <img src="/assets/img/portrait.jpg">
	  <sub><i>(photo credit: Rachel Marquez)</i></sub>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6   offset-xl-1">
        <div class="working-detalis wow fadeInUp pt-50">
          <div class="working-title  position-relative">
            <span>About</span>
            <h3>Dr. Brendan Miller</h3>
          </div>
          <div class="working-text wow fadeInUp pt-50">
            <p class="pt-15 pr-45 pb-15">
              My name is Brendan, a newly minted PhD from the Cellular, Molecular, Developmental Biology and Biophysics Department at Johns Hopkins University. I also was part of a Graduate Partnership Program between the National Institutes of Health and JHU. I completed my thesis under the guidance of Dr. Laura Elnitski in the National Human Genome Research Institute.
              During my PhD I developed cancer detection assays based on patterns of DNA methylation in circulating cell-free DNA from blood plasma samples (aka liquid biopsies). I'm excited to integrate my foundational training as a wet lab biologist with computational strategies to help solve fundamental problems in health and disease!
	      <div align="right">
		<sub><i>(bio credit: )</i></sub>
	      </div>
            </p>
          </div>
	  <!--- 
              <div class="working-icon wow fadeInUp d-flex">
                <div class="apple-icon">
                  <div class="icon">
                    <a href="#"><img src="/assets/img/icons/apple-store.png" alt="apple-store"></a>
                  </div>
                  <div class="hover-icon d-none">
                    <a href="#"><img src="/assets/img/icons/apple-store-red.png" alt="apple-store"></a>
                  </div>
                </div>
                <div class="google-icon">
                  <div class="icon">
                    <a href="#"><img src="/assets/img/icons/google-store.png" alt="google-store"></a>
                  </div>
                  <div class="hover-icon d-none">
                    <a href="#"><img src="/assets/img/icons/google-store-red.png" alt="google-icon"></a>
                  </div>
                </div>
              </div>
	      --->
              <div class="working-icon wow fadeInUp d-flex">
		<!-- <a href="https://jef.works/about/">Learn More</a> -->
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--========== Work Area Ends========== -->
