  <!-- ============Footer Area Starts============ -->
  <footer class="footer-area footer-bg {% if include.extra_class %} {{include.extra_class}} {% endif %}">
    <div class="container">
      <div class="footer-widget wow fadeInUp text-center">
        <div class="logo">
          <a href="{{site.url}}"><img src="/assets/img/logo/logo.png" alt="logo"/></a>
        </div>
      </div>
    </div>
    <div class="copyright text-center wow fadeInUp mt-35 pt-25 pb-15">
      <p>© <a href="{{site.company_url}}" target="_blank">{{site.company_name}}</a> {{ 'now' | date: "%Y" }}. All Rights Reserved </p>
    </div>
  </footer>
  <!-- ============Footer Area Ends============ -->
