<div class="project-area  project-area-3 pt-60 position-relative "
    style="background-image: url(/assets/img/blog/project-bg.jpg);">
    <div class="container">
        <div class="project-title wow fadeInRight text-center pl-65 pr-65">
            <h3>Scientific Talks</h3>
        </div>
    </div>
</div>
<div class="promo-area promo-area-2 promo-area-3  ">
    <div class="container">
        <div class="row  no-gutters">
            <div class="col-xl-10 offset-xl-1">
                <div class="promo-video  text-center" style="background-image: url(/assets/img/blog/video-bg.png);">
                    <div class="promo-video-icon wow fadeInLeft ">
                        <a href="https://www.youtube.com/watch?v=4oSEo1T5NXc" class="mfp-iframe">
                            <img src="/assets/img/icons/promo-play-button.png" alt="play-button"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
