---
layout: default
---

{% include header.html %}
<div class="page-title-area page-height" style="background-image: url({% if page.header_image %} {{page.header_image}} {% else %} {{site.banner_url}}{% endif %});">
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="page-title wow fadeInDown">
        <h2 class="text-capitalize">{{page.title}}</h2>
      </div>
    </div>
  </div>
</div>
</div>

<div class="main-section pt-60 pb-60" style="background-image: url(/assets/img/bg/grid-paper-bg.jpg); background-repeat:repeat-y;">
  <div class="blog-detalis-area">
    <div class="container">
      <div class="row">
	<div class="col-md-12">
          {% if page.post_image %}
          <div class="blog-img mb-45">
            <img src="{{page.post_image}}" class="img-fluid" alt="{{page.title}}"/>
          </div>
          {% endif %}
	    
          <div>{{page.date | date_to_long_string: "ordinal", "US"}} |
	    <a href="/category#{{ page.categories[0] }}">{{page.categories[0]}}</a>
	  </div>	    
	  <hr>
	  
          <div class="blog-text">
            <div class="post-content">
              {{page.content}}
            </div>
          </div>
	</div>
      </div>
      <hr>
      <div class="portfolio-button wow fadeInUp m-auto text-center pt-10">
	<a class="btn" href="/blog">View All Blog Posts <i class="fas fa-angle-double-right"></i></a>
      </div>    
    </div>
  </div>
</div>

{% include footer.html extra_class="footer-area pt-50" %}









